header {
    background-color:  #232F3E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card h5 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
    color: #333;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1, h2 {
    text-align: center;
    color: #333;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.announcement-banner {
    background-color: #ff6f61;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #ff6f61;
    color: white;
    padding: 20px;
    text-align: center;
}
.btn-success:hover {
    background-color: #218838;
}
